<app-trainer 
*ngIf="user" 
[username]="user.username"
>
</app-trainer>

<app-caughtpokemon 
*ngIf="user" 
[userPokemon]="user.pokemon"
(removePokemon)="removePokemon($event)"
(removeAllPokemon)="removeAllPokemon()"
>
</app-caughtpokemon>