<div class="container pokemon-container" *ngIf="!loading">
  <div class="container" *ngIf="caughtPokemon!==[]">
    <button class="btn btn-outline-danger btn-release-all" (click)="handleReleaseAllClick()">Release All</button>
  </div>
  <div class="card pokemon-card" *ngFor="let pokemon of caughtPokemon">
    <img class="card-img-top" [src]="pokemon.image" [alt]="pokemon.name">
    <div class="card-body">
      <h5 class="card-title">{{pokemon.name}} <button (click)="handleReleaseClick(pokemon)"
          class="btn btn-outline-danger btn-release">Release</button></h5>
    </div>
  </div>
</div>
<p *ngIf="loading">Loading...</p>
<p *ngIf="error !='' ">{{error}}</p>