<div class="container">
    <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
        <fieldset class="mb-3">
            <label for="username">Trainer name:</label>
            <input id="username" name="username" ngModel #username="ngModel" required minlength="3" type="text"
                class="form-control" placeholder="What is your trainer name?">
        </fieldset>
        <div *ngIf="username.errors && (username.dirty || username.touched)" class="aler alert-danger">
            <span *ngIf="username.errors['required']">This field is required</span>
            <span *ngIf="username.errors['minlength']">This trainer name is too short</span>
        </div>
        <button [disabled]="loginForm.invalid" *ngIf="!loading" class="btn btn-primary" type="submit">Login</button>
        <p>{{error}}</p>
        <p *ngIf="loading">Loading...</p>
    </form>
</div>