<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Pokemon Trainer</a>
        <div class="navbar-nav">
            <a class="nav-link active" routerLink="/catalogue">Catalogue</a>
            <a class="nav-link active" routerLink="/trainer">Trainer</a>
            <a class="nav-link active" routerLink="/" (click)="handleLogoutClick()">Logout</a>

        </div>
    </div>
</nav>
<router-outlet></router-outlet>