<div class="d-flex justify-content-center">
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  >
  </pagination-controls>
</div>

  <div class="container pokemon-container">
    <div class="card pokemon-card" (click)="handleCardClick(pokemon.id)" *ngFor="let pokemon of pokemon |
    paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
    }; let i = index" >
      <img class="card-img-top" [src]="pokemon.image" [alt]="pokemon.name">
      <div class="card-body">
        <h5 class="card-title">{{pokemon.name}} <img *ngIf="pokemon.caught" [src]="pokemon.ballImg"> </h5>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>